<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <title>{{title}}</title>
  </head>
  <body>
    <main class="container">
      <div class="grid sidebar">
        <aside>
          <nav>
            <ul>
              <li><strong>Reports</strong></li>
            </ul>
            <ul>
              <li><a href="/">Dashboard</a></li>
              <li><a href="/screenshot">Screenshots</a></li>
            </ul>
          </nav>
        </aside>
        <section>
          {% block content %}
          {% endblock %}
        </section>
      </div>
    </main>
  </body>
</html>