<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <title>{{title}}</title>
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="/" class="contrast"><b>Dashboard</b></a>
        </li>
      </ul>
      <ul>
        <li><a href="/screenshot" class="contrast">Screenshots</a></li>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="contrast">Detectors</summary>
            <ul role="listbox">
              <li><a href="/detector/alpha">Alpha</a></li>
              <li><a href="/detector/delta">Delta</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>
    <main class="container">
      <section>
        {% block content %}
        {% endblock %}
      </section>
    </main>
  </body>
</html>