{% extends "base.html" %}
{% block content %}
<header>
    <hgroup>
        <h1>{{ name }}</h1>
        <p>
            {% if prev_screenshot %}<a href="/screenshot/{{ prev_screenshot.url_timestamp }}">Previous</a>{% else %}Previous{% endif %}
            |
            {% if next_screenshot %}<a href="/screenshot/{{ next_screenshot.url_timestamp }}">Next</a>{% else %}Next{% endif %}
        </p>
    </hgroup>
</header>
<table>
    <tr>
        <th><b>Count</b></th>
        <th><b>Reviewed</b></th>
        <th><b>Error</b></th>
    </tr>
    <tr>
        <th>{{ data.count }}</th>
        <th>{{ data.reviewed }}</th>
        <th>{{ data.error }}</th>
    </tr>
</table>
<article>
    <h2>Detections</h2>
    {% for detection in detections %}
    <table>
        <tr>
            <th><b>Image</b></th>
            <th><b>Model</b></th>
            <th><b>Count</b></th>
            <th><b>Error</b></th>
        </tr>
        <tr>
            <td><a href="/screenshot/{{detection.url_timestamp}}/{{ name }}"><img src="{{detection.imgsrc}}" alt="Image processed by {{ detection.model }}"></a></td>
            <td>{{ detection.model }}</td>
            <td>{{ detection.count }}</td>
        </tr>
    </table>
    {% endfor %}
</article>    
{% endblock %}