{% extends "base.html" %}
{% block content %}
<header>
    <hgroup>
        <h1>{{ screenshot.timestamp }}</h1>
        <p>
            {% if prev_screenshot %}<a href="/screenshot/{{ prev_screenshot.url_timestamp }}">Previous</a>{% else %}Previous{% endif %}
            |
            {% if next_screenshot %}<a href="/screenshot/{{ next_screenshot.url_timestamp }}">Next</a>{% else %}Next{% endif %}
        </p>
    </hgroup>
</header>
<form action="/screenshot/{{screenshot.url_timestamp}}" method="POST">
    <div class="grid">
        <input type="hidden" name="timestamp" autofocus="autofocus" value="{{screenshot.timestamp}}" />
        {% csrf_token %}
        <div>
            <label for="human_count">User count</label>
            <input type="text" name="human_count" placeholder="{% if screenshot.reviewed %}{{ screenshot.human_count }}{% else %}Needs Review{% endif %}">
        </div>
        <div>
            <label for="human_mode">Mode</label>
            <select name="human_mode" id="human_mode">
                <option value="">-- Edit mode --</option>
                <option value="surf" {% if screenshot.human_mode == "surf" %}selected{% endif %}>Surf</option>
                <option value="kayak" {% if screenshot.human_mode == "kayak" %}selected{% endif %}>Kayak</option>
                <option value="invalid" {% if screenshot.human_mode == "invalid" %}selected{% endif %}>Invalid</option>
            </select>
        </div>
        <div>
            <label for="">Detections</label>
            <input type="text" name="detections" placeholder="{% if detections %}{{ detections|length }}{% else %}No detections{% endif %}" readonly>
        </div>
        <div>
            <label for="">&nbsp;</label>
            {% if screenshot.reviewed %}
            <button class="outline">Edit</button>
            {% else  %}
            <button>Submit</button>
            {% endif %}
        </div>
    </div>
</form>
<img src="{{ screenshot.imgsrc }}?auto=format&w=1130" alt="Original image {{ screenshot.timestamp }}" width="1130" height="635" />
{% if detections %}
<article>
    <h2>Detections</h2>
    {% for detection in detections %}
    <table>
        <tr>
            <th><b>Image</b></th>
            <th><b>Model</b></th>
            <th><b>Count</b></th>
            <th><b>Error</b></th>
        </tr>
        <tr>
            <td><img src="{{detection.imgsrc}}" alt="Image processed by {{ detection.model }}"></td>
            <td>{{ detection.model }}</td>
            <td>{{ detection.count }}</td>
            <td>{{ detection.error   }}</td>
        </tr>
    </table>
    {% endfor %}
</article>    
{% endif %}
{% endblock %}