<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <main class="container">
      <div class="grid sidebar">
        <aside>
          <nav>
            <ul>
              <li><strong>Reports</strong></li>
            </ul>
            <ul>
              <li><a href="/">Latest</a></li>
              <li>Usage</li>
            </ul>
          </nav>
          <nav>
            <ul>
              <li><strong>About</strong></li>
            </ul>
            <ul>
              <li>Method</li>
              <li>Project</li>
            </ul>
          </nav>
        </aside>
        <section>
          {% block content %}
          {% endblock %}
        </section>
      </div>
    </main>
  </body>
</html>